nodered flow/flows (2).json
[{"id":"2e75ad8e.a362e2","type":"tab","label":"My Project UI","disabled":false,"info":""},{"id":"bbcf565e.ea5968","type":"function","z":"2e75ad8e.a362e2","name":"","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":620,"wires":[["8a2cfd24.d0a33"]]},{"id":"8a2cfd24.d0a33","type":"csv","z":"2e75ad8e.a362e2","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":790,"y":540,"wires":[["36c280a0.565fc"]]},{"id":"3c57ba1c.2bbba6","type":"ui_chart","z":"2e75ad8e.a362e2","name":"","group":"8fee913b.c0bfb","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":220,"wires":[[]]},{"id":"73a1c98c.420938","type":"ui_button","z":"2e75ad8e.a362e2","name":"","group":"30005324.067e9c","order":2,"width":"3","height":"1","passthru":false,"label":"Stream Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"","x":150,"y":180,"wires":[["7e22f9ed.11bb28"]]},{"id":"1551acb6.3a9fd3","type":"function","z":"2e75ad8e.a362e2","name":"","func":"\ndata = flow.get('fetchedData');\ndataIndex = flow.get('dataIndex');\nvar i = parseInt(dataIndex);  \n\nfunction myLoop() {         \n  setTimeout(function() {   \n    if (i < data.length && flow.get('stream') ) {          \n      node.send({payload:data[i].col7})   \n    i++;\n      myLoop();             \n    }\nflow.set('dataIndex',i);\n }, 2000)\n  \n}\n\nmyLoop();\n","outputs":1,"noerr":0,"x":650,"y":140,"wires":[["3c57ba1c.2bbba6","c7a3ff4d.60868"]]},{"id":"5ee25e70.c52e","type":"change","z":"2e75ad8e.a362e2","name":"","rules":[{"t":"set","p":"stream","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":80,"wires":[["1551acb6.3a9fd3"]]},{"id":"36cb2efb.bb28b2","type":"ui_button","z":"2e75ad8e.a362e2","name":"","group":"30005324.067e9c","order":3,"width":"3","height":"1","passthru":false,"label":"Stop Stream","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":300,"wires":[["57fcf480.5364dc"]]},{"id":"57fcf480.5364dc","type":"change","z":"2e75ad8e.a362e2","name":"","rules":[{"t":"set","p":"stream","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[[]]},{"id":"c7a3ff4d.60868","type":"ui_gauge","z":"2e75ad8e.a362e2","name":"","group":"8fee913b.c0bfb","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"Hg","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":280,"wires":[]},{"id":"bea7d25e.327b1","type":"ui_button","z":"2e75ad8e.a362e2","name":"","group":"30005324.067e9c","order":1,"width":0,"height":0,"passthru":false,"label":"Fetch Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":350,"y":620,"wires":[["7a456f02.95b24"]]},{"id":"36c280a0.565fc","type":"function","z":"2e75ad8e.a362e2","name":"","func":"flow.set('fetchedData',msg.payload);\nflow.set('dataAvailable',true);\nflow.set('dataIndex',1);\nreturn {payload:\"You can now start streaming data\",enabled:false,topic:\"data Fetched\"};","outputs":1,"noerr":0,"x":930,"y":580,"wires":[["8d6e724c.d4db9","bea7d25e.327b1"]]},{"id":"7e22f9ed.11bb28","type":"switch","z":"2e75ad8e.a362e2","name":"","property":"dataAvailable","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["5ee25e70.c52e"],["d57dfb3b.65ce48"]]},{"id":"d57dfb3b.65ce48","type":"ui_toast","z":"2e75ad8e.a362e2","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Please fetch data before streaming","name":"","x":610,"y":200,"wires":[]},{"id":"8d6e724c.d4db9","type":"ui_toast","z":"2e75ad8e.a362e2","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Data Fetched from COS","name":"","x":990,"y":700,"wires":[]},{"id":"74fb6d2.f1b6394","type":"switch","z":"2e75ad8e.a362e2","name":"","property":"dataAvailable","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":210,"y":480,"wires":[["28c6bb53.e748c4"]]},{"id":"28c6bb53.e748c4","type":"function","z":"2e75ad8e.a362e2","name":"","func":"\nreturn {enabled:true};","outputs":1,"noerr":0,"x":190,"y":600,"wires":[["bea7d25e.327b1"]]},{"id":"a8c7db0e.f4baa8","type":"ui_ui_control","z":"2e75ad8e.a362e2","name":"","events":"all","x":80,"y":460,"wires":[["74fb6d2.f1b6394"]]},{"id":"ad01005a.533f5","type":"ui_button","z":"2e75ad8e.a362e2","name":"","group":"30005324.067e9c","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"reset","payloadType":"str","topic":"","x":150,"y":380,"wires":[["efe5ffd4.56669","14a716ad.72e9b9"]]},{"id":"efe5ffd4.56669","type":"function","z":"2e75ad8e.a362e2","name":"","func":"flow.set('fetchedData',null);\nflow.set('dataAvailable',false);\nflow.set('stream',false)\nreturn {enabled:true};","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["bea7d25e.327b1"]]},{"id":"14a716ad.72e9b9","type":"function","z":"2e75ad8e.a362e2","name":"","func":"\nreturn {payload:[]};","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["3c57ba1c.2bbba6","c7a3ff4d.60868"]]},{"id":"7a456f02.95b24","type":"cos-get","z":"2e75ad8e.a362e2","name":"","bucket":"noderedankit1","objectname":"integrated_data.csv","mode":"1","filepath":"","filename":"","geturl":false,"geturlExpiry":900,"cosconfig":"8d2195bd.06f268","x":540,"y":480,"wires":[["bbcf565e.ea5968"]]},{"id":"8fee913b.c0bfb","type":"ui_group","z":"","name":"Energy Output","tab":"a3cecf49.94e2e","order":2,"disp":true,"width":"6","collapse":false},{"id":"30005324.067e9c","type":"ui_group","z":"","name":"Data","tab":"a3cecf49.94e2e","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d2195bd.06f268","type":"cos-config","z":"","apiKeyId":"PgGgHeuQPtcjiFcwugQmxf5FvtHClVUgVWQNADprzjqo","location":"eu-gb","ibmAuthEndpoint":"https://iam.ng.bluemix.net/oidc/token","endpoint":"s3.eu-gb.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:cloud-object-storage:global:a/6bf34a501a494f749602fefa0414c819:1266e645-1590-41b1-91ba-9680549b3e82::","hmac":false,"accesskeyid":"","accesskey":"","name":"Cos_node"},{"id":"a3cecf49.94e2e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]